html { -webkit-text-size-adjust: 100% }
footer, header, main, nav, section { display: block }
a:active, a:hover { outline: 0 }
h1 {
    font-size: 2em;
    margin: 0.67em 0
}
small { font-size: 80% }
img { border: 0 }
hr {
    box-sizing: content-box;
    height: 0
}
body {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
    margin: 0;
}
p { margin-top: 0 }
a { color: #2879d0 }
a:hover { color: #2268b2 }
header {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Architects Daughter', sans-serif;
    background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #275da1
}
header h1 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    letter-spacing: -1px
}
header h2 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    color: #9ddcff;
    letter-spacing: 0
}
.inner {
    position: relative;
    width: 940px;
    margin: 0 auto
}
#content-wrapper {
    padding-top: 30px;
    border-top: solid 1px #fff
}
#main-content {
    float: left;
    width: 690px
}
#main-content img { max-width: 100% }
a.button {
    width: 134px;
    height: 58px;
    padding-top: 22px;
    padding-left: 68px;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 23px;
    line-height: 1.2;
    color: #fff
}
a.button small {
    display: block;
    font-size: 11px
}
header a.button {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent url(../images/github-button.png) 0 0 no-repeat
}
ul, ol { margin-bottom: 20px }
hr {
    height: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0;
    border-top: solid 1px #ddd
}
#main-content h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 2.8em;
    font-weight: normal;
    color: #474747;
    text-indent: 6px;
    letter-spacing: -1px
}
#main-content h2 {
    margin-bottom: 8px;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #474747;
    text-indent: 4px
}
#main-content h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-family: 'Architects Daughter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
    text-indent: 3px
}
p { margin-bottom: 20px }
a { text-decoration: none }
ul {
    list-style-position: inside;
    list-style: disc;
    padding-left: 20px
}
ol {
    list-style-position: inside;
    list-style: decimal;
    padding-left: 3px
}
.clearfix:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    content: '.'
}
.clearfix { display: block }
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .inner { width: 740px }
    header h1, header h2 { width: 340px }
    header h1 { font-size: 60px }
    header h2 { font-size: 30px }
    #main-content { width: 490px }
    #main-content h1:before,
    #main-content h2:before,
    #main-content h3:before {
        padding-right: 0;
        margin-left: 0;
        content: none
    }
}
@media only screen and (max-width: 767px) {
    .inner { width: 93% }
    div.clearfix {
        width: 100%;
        margin: 0;
    }
    header { padding: 20px 0 }
    header .inner { position: relative }
    header h1, header h2 { width: 100% }
    header h1 { font-size: 48px }
    header h2 { font-size: 24px }
    header a.button {
        position: relative;
        display: inline-block;
        width: auto;
        height: auto;
        padding: 5px 10px;
        margin-top: 15px;
        font-size: 13px;
        line-height: 1;
        color: #2879d0;
        text-align: center;
        background-color: #9ddcff;
        background-image: none;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px
    }
    header a.button small {
        display: inline;
        font-size: 13px
    }
    #main-content {
        float: none;
        width: calc(100% - 10px) !important;
        padding: 5px;
    }
    #main-content h1:before,
    #main-content h2:before,
    #main-content h3:before {
        padding-right: 0;
        margin-left: 0;
        content: none
    }
    body { text-align: center }
}
